:root{
--green: #6aaa64;
--darkendGreen: #538d4e;
--yellow: #c9b458;
--darkendYellow: #b59f3b;
--lightGray: #d8d8d8;
--gray: #86888a;
--darkGray: #939598;
--white: #fff;
--black: #212121;
--orange: #f5793a;
--blue: #85c0f9;
--color-tone-1: #ffffff;
--color-tone-2: #818384;
--color-tone-3: #565758;
--color-tone-4: #3a3a3c;
--color-tone-5: #272729;
--color-tone-6: #1a1a1b;
--color-tone-7: #121213;
}

/* Body styling */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wordCrack{
    background: var(--color-tone-7);
    min-height: 100vh;
}

/* Header styling */
.header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: var(--white);
   border-bottom: var(--color-tone-4) 1px solid;
   font-weight: bold;
}
.headerComponents{
    display: flex;
}
.title{
    font-size: 2.2rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--white);
}
.title a{
    color: var(--white);
    text-decoration: none;
}
.title a:hover{
    color: var(--white);
}
.sideNav{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
/* main section */
main{
/* border: 3px red solid; */
max-width: 500px;
margin: 0 auto;
}
/* board style */
.board{
    width: 250px;
    height: 300px;
}
.roww{
    display: flex;
}
.letter{
    width: 30px;
    height: 30px;
    border: 2px var(--color-tone-4) solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5px;
    padding: 20.2px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* keyboard style */
.keyboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1px;
}
.key{
    width: 43px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-tone-2);
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    margin: 3.5px;
    font-family:Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.bigKey{
width: 65px;
}
.active{
    border: 2px solid var(--color-tone-3);
    animation:2s vibrate;
}
#correct{
    background: var(--darkendGreen);
}
#almost{
    background: var(--darkendYellow);
}
#error{
    background: var(--color-tone-4);
}
.disabled{
    background: var(--color-tone-4);
}

@keyframes vibrate{
    from{
    width: 20px;
    height: 20px;
    }
    to{
        width: 40px;
        height: 40px;
    }
}

@media (max-width:500px) {
    .key{
        width: 42px;
    }
    .bigKey{
        width: 65px;
        }
}
@media (max-width:490px) {
    .key{
        width: 40px;
    }
    .bigKey{
        width: 63px;
        }
}
@media (max-width:470px) {
    .key{
        width: 39px;
    }
    .bigKey{
        width: 60px;
        }
}